
*.iml

.idea/workspace.xml

*.lock

*.lock

.gradle/2.13/taskArtifacts/fileHashes.bin

*.bin

*.class

*.class

.idea/libraries/Gradle__junit_junit_4_11.xml

build/classes/main/edu/si/saam/api/models/Museum.class

src/test/resources/mock_application.properties

src/test/.DS_Store

src/main/resources/application.properties

src/main/resources/application.properties

src/.DS_Store

.gradle/2.13/taskArtifacts/taskArtifacts.bin

.gradle/2.13/.DS_Store

build/reports/tests/index.html

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/fileHashes.bin

.gradle/2.13/taskArtifacts/fileSnapshots.bin

.gradle/2.13/taskArtifacts/taskArtifacts.bin

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/fileHashes.bin

.gradle/2.13/taskArtifacts/fileHashes.bin

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/fileHashes.bin

.gradle/2.13/taskArtifacts/fileSnapshots.bin

.gradle/2.13/taskArtifacts/taskArtifacts.bin

build/libs/gs-rest-service-0.1.0.jar

build/reports/tests/js/report.js

build/reports/tests/classes/edu.si.saam.api.models.MuseumUnitTests.html

build/reports/tests/packages/edu.si.saam.api.models.html

build/test-results/TEST-edu.si.saam.api.models.MuseumUnitTests.xml

src/main/resources/application.properties

build/libs/gs-rest-service-0.1.0.jar.original

build/libs/gs-rest-service-0.1.0.jar

.gradle/2.13/taskArtifacts/taskArtifacts.bin

.gradle/2.13/taskArtifacts/fileSnapshots.bin

.gradle/2.13/taskArtifacts/fileSnapshots.bin

build/reports/tests/classes/edu.si.saam.api.models.MuseumUnitTests.html

build/test-results/TEST-edu.si.saam.api.models.MuseumUnitTests.xml
