
*.bin
*.DS_Store
.DS_Store
*.iml

*.lock
*.class
*.html
*.js
build/*/*.jar
build/**/*.bin

.idea


src/main/resources/application.properties

src/test/resources/mock_application.properties

src/main/resources/application.properties
